PORT=3000

ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=1h

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=orderflow_test

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_MANAGEMENT_URL=http://localhost:15672

TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=false
